# Python
**/venv/
**/__pycache__/
**/*.pyc

# Node
**/node_modules/

# React Native
**/.expo/

# Build outputs
**/dist/
**/build/

# Environment
**/.env
**/.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db